{{ $isSpanish := strings.HasPrefix .RelPermalink "/es/" }}
<section id="contact">
  <div class="padding-vertical padding-xxhuge">
    <div class="z-3">
      <div class="container-large">
        <div class="text-align-center">
          {{ if $isSpanish }}
            <h2 class="heading-large">Contacto</h2>
            <p class="subheading">¡Nos encantaría saber de ti!</p>
          {{ else }}
            <h2 class="heading-large">Contact</h2>
            <p class="subheading">We'd love to hear from you!</p>
          {{ end }}
        </div>
        {{ if $isSpanish }}
          <form name="contacto" method="POST" netlify action="/es/thank-you">
              <input type="hidden" name="form-name" value="contacto">
              <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
              </div>
              <div class="form-group">
                <textarea id="message" name="message" placeholder="Mensaje" required style="height: 200px;"></textarea>
              </div>
              <button type="submit" class="button-primary">Enviar</button>
          </form>
        {{ else }}
          <form name="contact" method="POST" netlify action="/en/thank-you">
              <input type="hidden" name="form-name" value="contact">
              <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <textarea id="message" name="message" placeholder="Message" required style="height: 200px;"></textarea>
              </div>
              <button type="submit" class="button-primary">Send</button>
          </form>
        {{ end }}
      </div>
    </div>
  </div>
</section>